# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtualenv
.venv/

# Env
.env/*
!.env/*.example

# Caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# OS
.DS_Store
Thumbs.db

# Project
*.db
*.sqlite
*.log