# Application
ENVIORMENT=develop

# server
DEVELOP_API_HOST=0.0.0.0
DEVELOP_API_PORT=8000
DEVELOP_API_CONTAINER_PORT=8000

# mcp
DEVELOP_MCP_PORT=3399
DEVELOP_MCP_CONTAINER_PORT=3399

# Dev DB
DEVELOP_POSTGRES_USER=develop_user
DEVELOP_POSTGRES_PASSWORD=develop_password
DEVELOP_POSTGRES_HOST=database
DEVELOP_POSTGRES_PORT=5434
DEVELOP_POSTGRES_CONTAINER_PORT=5432
DEVELOP_POSTGRES_DB=develop_db

# Test DB
TEST_POSTGRES_USER=test_user
TEST_POSTGRES_PASSWORD=test_password
TEST_POSTGRES_HOST=database-test
TEST_POSTGRES_PORT=5433
TEST_POSTGRES_CONTAINER_PORT=5432
TEST_POSTGRES_DB=test_db
