# Application
ENVIORMENT=develop

# Host-side ports
DEVELOP_API_PORT=8000
DEVELOP_MCP_PORT=3399
DEVELOP_DB_PORT=5434
DEVELOP_DB_TEST_PORT=5433

# Dev DB
DEVELOP_POSTGRES_USER=develop_user
DEVELOP_POSTGRES_PASSWORD=develop_password
DEVELOP_POSTGRES_DB=develop_db

# Test DB
DEVELOP_POSTGRES_TEST_USER=test_user
DEVELOP_POSTGRES_TEST_PASSWORD=test_password
DEVELOP_POSTGRES_TEST_DB=test_db
